.drop-button{
  display: inline-block;
  margin: 0 17vw 0 17vw;
  width: 8vw;
  height: 40px;
}
#isUrl{
  margin-bottom: 15px;
  float: left;
}
.drop-post{
  p{
    font-size: 14px;
    color: white;
  }
}
#drop-contein{
  display: block;
  width: 45vw;
  height: 40px;
  margin-bottom: 15px;
}