#no-complite-todos {
  h2 {
    display: inline;
    max-width: 80vw;
    margin: 0;
  }
}
#complite-todos {
}


#no-complite-todos-block {
  display: flex;
  max-width: 80vw;
  margin: 0 auto;
  overflow-wrap: break-word;
  flex-wrap: wrap;
  height: auto;
}
#complite-todos-block {
  display: flex;
  max-width: 80vw;
  margin: 0 auto;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}
#todos-bar{
  min-height: 80vh;
  h2 {
    display: inline;
    max-width: 80vw;
    margin: 0 15vw;
  }
}