@mixin add-color($color) {
  width: 30px;
  height: 30px;

  background-color: $color;
}
#red-color-todo {
  @include add-color(#f97083);
}
#blue-color-todo {
  @include add-color(#514ed9);
}
#green-color-todo {
  @include add-color(#a0f06c);
}
#white-color-todo {
  @include add-color(white);
}
#choose-color {
  z-index: 9999;
  position: absolute;
  top: -80vh;
  ul {
    display: flex;
  }
}
.list-group-item {
  user-select: none;
  color: black;
}
