.mb-3 {
  user-select: none;
  display: inline-block;
  width: 70vw;
  height: auto;
  margin: 5px 10vw;
  filter: brightness(70%);

  .col-md-10 {
    width: 50vw;
  }

  .col-md-1 {
    max-width: 10vw;
    img {
      height: 8vh;
      width: 8vh;
    }
    height: 10vh;
    display: flex;
    margin-left: 5px;
    align-items: center;
  }

  .card-body {
    display: block;
    padding: 0;

    .task-name {
      display: inline-block;
    }

    .task-discription {
      margin: 0;
      overflow: hidden;
      width: 60vw;
      height: 6.5vh;
    }

    .task-date,
    .task-priority {
      display: inline-block;
      margin-left: 5px;
    }
    
    h5,
    p {
      overflow-wrap: break-word;
      margin: 3px 0;
      font-size: 9pt;
      padding: 0;
    }
  }
}
.task-ui {
  align-items: center;
  list-style: none;
  display: flex;
  margin-left: auto;
}

.task-header {
  width: calc(62vw - 30px);
  height: 3.5vh;
  display: flex;
}

.config {
  margin-left: 5px;
  display: inline-block;

  ul {
    list-style: none;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-bottom: 0;
  }

  ul:hover {
    height: auto;
    width: auto;

    li {
      padding: 5px;
      display: block;
      margin-left: 50px;
      text-align: center;
      font-size: 9pt;
      visibility: visible;
    }
    
    li:hover {
      background-color: royalblue;
    }
  }

  li {
    display: none;
    background-color: white;
  }
}

.card-block {
  max-width: 200px;
  margin: 5px 5px;
  filter: brightness(70%);

  h5 {
    display: inline;
  }

  p {
    margin: 0 5px;
  }

  .card-body {
    padding: 0;
  }

  .card-text {
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    height: 19vh;
  }
}
.config-block {
  ul {
    top: 5px;
    right: 5px;
    text-align: end;
    width: 20px;
    height: 20px;
  }

  ul:hover {
    width: auto;
    height: auto;
  }
}

.task-status {
  display: none;
}
.task-status.true {
  display: inline;
}

.open-text {
  display: inline-block;
}
.card {
  transition: height 3s ease-in-out;
  
  .task-discription {
    transition: height 3s ease-in-out;
  }
}
.card:hover {
  .task-discription:hover {
    overflow: visible;
    height: auto;
  }

  height: auto;
}
